<div class="component">
    <p class="title"><span>pages</span> / Factures</p>
    <div class="factures">
        <table>
            <thead>
                <tr>
                    <th>date facture</th>
                    <th>totale HT</th>
                    <th>TTC</th>
                    <th>TVA</th>
                    <th>nom de fournisseur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facture of factures">
                    <td>{{facture.date_facture}}</td>
                    <td>{{facture.total_HT}}</td>
                    <td>{{facture.total_TTC}}</td>
                    <td>{{facture.total_TVA}}</td>
                    <td>{{facture.fournisseur.nom_fr}}</td>
                    <td>
                        <button type="button" (click)="deleteFacture(facture.id_f)" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Générer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>