<div class="component">
    <p class="title"><span>pages</span> / Factures</p>
    <div class="factures">
        <table>
            <thead>
                <tr>
                    <th>date facture</th>
                    <th>totale HT</th>
                    <th>TTC</th>
                    <th>TVA</th>
                    <th>nom de fournisseur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2022-11-25 10:50:13</td>
                    <td>200</td>
                    <td>250</td>
                    <td>260</td>
                    <td>nom</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Générer</button>
                    </td>
                </tr>
                <tr>
                    <td>2022-11-25 10:50:13</td>
                    <td>200</td>
                    <td>250</td>
                    <td>260</td>
                    <td>nom</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Générer</button>
                    </td>
                </tr>
                <tr>
                    <td>2022-11-25 10:50:13</td>
                    <td>200</td>
                    <td>250</td>
                    <td>260</td>
                    <td>nom</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Générer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>