<div class="component">
    <p class="title"><span>pages</span> / Ajouter fournisseur</p>
    <div class="container">
        <div class="title">Nouveau fournisseur</div>
        <div class="content">
        <form>
            <div class="user-details">
                <div class="flex">
                    <div class="input-box">
                        <span class="details">Nom</span>
                        <input type="text" placeholder="écrivez le nom" required>
                        <div class="error">nom obligatoire</div>
                    </div>
                    <div class="input-box">
                        <span class="details">Prénom</span>
                        <input type="text" placeholder="écrivez le prénom" required>
                        <div class="error">prénom obligatoire</div>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="écrivez l'email" required>
                    <div class="error">email obligatoire</div>
                </div>
                <div class="input-box">
                    <span class="details">Adresse</span>
                    <input type="text" placeholder="écrivez l'adresse" required>
                    <div class="error">adresse obligatoire</div>
                </div>
                <div class="input-box">
                    <span class="details">Téléphone</span>
                    <input type="text" placeholder="écrivez le téléphone" required>
                    <div class="error">téléphone obligatoire</div>
                </div>
            </div>
            <div class="success"><p>ajouté avec succés</p></div>
            <div class="button">
                <input type="submit" value="Ajouter">
            </div>
        </form>
        </div>
    </div>
</div>
