<div class="hero">
    <div class="navbar">
        <img class="logo" src="/assets/img/logo.png" alt="">
        <ul>
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-github"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
        </ul>
    </div>
    <div class="content">
        <small>Bienvenue à </small>
        <h2>MyAppli <br>pharmacie</h2>
        <button type="button" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Sign IN</button>
    </div>


    <div class="bubbles">
        <img src="/assets/img/bubble.png" alt="">
        <img src="/assets/img/bubble.png" alt="">
        <img src="/assets/img/bubble.png" alt="">
        <img src="/assets/img/bubble.png" alt="">
        <img src="/assets/img/bubble.png" alt="">
        <img src="/assets/img/bubble.png" alt="">
        <img src="/assets/img/bubble.png" alt="">
    </div>

</div>