<div class="component">
    <p class="title"><span>pages</span> / Passer une commande</p>
    
    <div class="container">
        <div class="title">Passer une commande</div>
        <div class="content">
        <form [formGroup]="myForm" (ngSubmit)="commander()">
            <div class="user-details">
                <div class="flex">
                    <div class="input-box">
                        <div class="select"> 
                            <select name="format" #produit id="format" required >
                               <option selected disabled>Choisissez une produit</option>
                               <option [value]="produit.id_p" *ngFor="let produit of produits">{{produit.lib_p}}</option>
                            </select>
                         </div>
                    </div>
                    <div class="buttonA">
                        <button type="button" (click)="addCommande()">Ajouter</button>
                    </div>
                </div>
                <div class="flex">
                    <div class="input-box">
                        <span class="details">Quantité</span>
                        <input type="number" formControlName="Quantite" required name="Quantite">
                        <div class="error" *ngIf="myForm.get('Quantite').touched && myForm.get('Quantite').hasError('required')">Quantite obligatoire</div>
                    </div>
                    <div class="date1">
                        <span class="details">Date fourni</span>
                        <input type="datetime-local" formControlName="date_fourni" name="date_fourni">
                        <div class="error" *ngIf="myForm.get('date_fourni').touched && myForm.get('date_fourni').hasError('required')">Date fourni obligatoire</div>
                    </div>
                </div>
                <div class="input-box">
                    <select formControlName="commandes" class="commandes" #commandes size="10" name="commandes" id="commandes">
                    </select>
                    <div class="error" *ngIf="myForm.get('commandes').touched && !commandesControl">il faut ajouter au moins un produit</div>
                </div>
                <div class="input-box">
                    <div class="select"> 
                        <select name="format" formControlName="fournisseur" id="format" required >
                           <option selected disabled>Choisissez un fournisseur</option>
                           <option [value]="supplier.id_fr" *ngFor="let supplier of suppliers">{{supplier.nom_fr}}</option>
                        </select>
                     </div>
                     <div class="error" *ngIf="myForm.get('fournisseur').touched && myForm.get('fournisseur').value == initialValueFournisseur">fournisseur obligatoire</div>
                </div>
            </div>
            <div class="success" *ngIf="succes"><p>commandé</p></div>
            <div class="button">
                <input type="submit" value="Commander" [disabled]="myForm.invalid || !commandesControl">
            </div>
        </form>
        </div>
    </div>
</div>
