<div class="component">
    <p class="title"><span>pages</span> / Produits</p>
    <div class="barre-rech">
        <input type="text" placeholder="Rechercher un produit" class="rech">
        <button class="btn-rech"><i class="bi bi-search"></i></button>
        <button routerLink="/user/addProduct" class="ajoute btn btn-success"><i class="bi bi-plus-lg"></i></button>
    </div>
    <div class="products">
        <table>
            <thead>
                <tr>
                    <th>libelle</th>
                    <th>description</th>
                    <th>date ajoute</th>
                    <th>prix DT</th>
                    <th>prix liv DT</th>
                    <th>laboratoire</th>
                    <th>catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produit of produits">
                    <td>{{produit.lib_p}}</td>
                    <td class="desc">{{produit.description}}</td>
                    <td>{{produit.date_ajout}}</td>
                    <td>{{produit.prix_p}}</td>
                    <td>{{produit.prix_liv}}</td>
                    <td>{{produit.laboratoire.lib_lab}}</td>
                    <td>{{produit.categorie.lib_cat}}</td>
                    <td>
                        <button type="button" (click)="supprimer(produit.id_p)" class="btn btn-danger">Supprimer</button>
                        <button type="button" (click)="modifier(produit.id_p)" class="btn btn-primary">Modifier</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>