<div class="component">
    <p class="title"><span>pages</span> / Suppliers</p>
    <button routerLink="/user/addSupplier" class="ajoute btn btn-success"><i class="bi bi-plus-lg"></i></button>
    <div class="suppliers">
        <table>
            <thead>
                <tr>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>email</th>
                    <th>telephone</th>
                    <th>adresse</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nom</td>
                    <td>username</td>
                    <td>exemple@gmail.com</td>
                    <td>21 546 888</td>
                    <td>Tunis</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </td>
                </tr>
                <tr>
                    <td>nom</td>
                    <td>username</td>
                    <td>exemple@gmail.com</td>
                    <td>21 546 888</td>
                    <td>Tunis</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </td>
                </tr>
                <tr>
                    <td>nom</td>
                    <td>username</td>
                    <td>exemple@gmail.com</td>
                    <td>21 546 888</td>
                    <td>Tunis</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>