<div class="component">
    <p class="title"><span>pages</span> / Suppliers</p>
    <div class="suppliers">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>nom</th>
                    <th>nb des taches</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>username</td>
                    <td>name</td>
                    <td>nbTasks</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Voir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>